# Django settings
DEBUG=True
SECRET_KEY=django-insecure-replace-me-with-a-real-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOW_ALL_ORIGINS=True

# Database Configuration
# format: postgres://USER:PASSWORD@HOST:PORT/NAME
# example: postgres://postgres:postgres@localhost:5432/eduaims
# Leaving DATABASE_URL empty will fallback to sqlite3 locally
DATABASE_URL=
